<!DOCTYPE html>
<html>
<head>
    <title>Loan Application Result</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Business Loan Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css" >
  </head>
  <body>

    <section> <!-- Navbar/Heading-->
      <a class="navbar-brand " style="align-self: center;"> Business Loan</a>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-nav mx-auto row " style="width: 70%; padding-bottom: 60px;" >
              <div class="col"><a class="nav-link active" aria-current="page" href="index.html">Home</a></div>
              <div class="col"><a class="nav-link" href="#aboutTo">Products</a></div>
              <div class="col"><a class="nav-link" href="#login.html" >Template</a></div>
              <div class="col"><a class="nav-link" href="#aboutTo">About</a></div>
              <div class="col"><a class="nav-link" href="#contact">Pricing</a></div>
              <div class="col"><a class="nav-link" href="#contact">Contact</a></div>
              <div class="col"><a class="nav-link" href="#login.html" >Login</a></div>
              <div class="col"><a class="nav-link" href="#login.html" >Sign up</a></div>
            </div>
          </div>
      </nav>
    </section><!-- corsoule -->
    <div class="pics">
      <div class="pic-slide">
        <img src="..\static\images\agrri.jpeg">
        <img src="..\static\images\art.jpg">
        <img src="..\static\images\astro.jpg">
        <img src="..\static\images\charity.jpeg">
        <img src="..\static\images\concert.jpeg">
        <img src="..\static\images\f1.jpeg">
        <img src="..\static\images\face.jpeg">
        <img src="..\static\images\fation.jpg">
        <img src="..\static\images\feed.jpg">
        <img src="..\static\images\fish.jpg">
        <img src="..\static\images\flower.jpg">
      </div>
      <div class="pic-slide">
        <img src="..\static\images\agrri.jpeg">
        <img src="..\static\images\art.jpg">
        <img src="..\static\images\astro.jpg">
        <img src="..\static\images\charity.jpeg">
        <img src="..\static\images\concert.jpeg">
        <img src="..\static\images\f1.jpeg">
        <img src="..\static\images\face.jpeg">
        <img src="..\static\images\fation.jpg">
        <img src="..\static\images\feed.jpg">
        <img src="..\static\images\fish.jpg">
        <img src="..\static\images\flower.jpg">
      </div>
    </div>

    <div class="pics">
      <div class="pic-slide2">
        <img src="..\static\images\food.jpg">
        <img src="..\static\images\game.jpg">
        <img src="..\static\images\old.jpg">
        <img src="..\static\images\read.jpeg">
        <img src="..\static\images\shoes.webp">
        <img src="..\static\images\shooping.jpeg">
        <img src="..\static\images\stock.webp">
        <img src="..\static\images\travel.jpg">
        <img src="..\static\images\yoga.jpg">
        <img src="..\static\images\doctor.jpg">
        <img src="..\static\images\dance.jpg">
      </div>
      <div class="pic-slide2">
        <img src="..\static\images\food.jpg">
        <img src="..\static\images\game.jpg">
        <img src="..\static\images\old.jpg">
        <img src="..\static\images\read.jpeg">
        <img src="..\static\images\shoes.webp">
        <img src="..\static\images\shooping.jpeg">
        <img src="..\static\images\stock.webp">
        <img src="..\static\images\travel.jpg">
        <img src="..\static\images\yoga.jpg">
        <img src="..\static\images\doctor.jpg">
        <img src="..\static\images\dance.jpg">
      </div>
    </div>
    <section>
      <div class="center" style="width:700px; ">
        <h2>Success is not final, failure is not fatal: It is the courage to continue that counts. </h2>
        - Winston Churchill
      </div>
      </section>
    <section>
      <div class="extra">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus pharetra velit ut ullamcorper. Etiam id augue
          id nibh venenatis feugiat ut tincidunt eros. Etiam ipsum nunc, eleifend a aliquam at, fermentum non dui. Proin consequat
          orci et semper molestie. In auctor metus ut lacus pellentesque, non molestie sem ullamcorper. Nullam gravida leo sit amet
          risus cursus iaculis. Donec sit amet nunc ut sem tincidunt facilisis. Donec vitae maximus odio, quis molestie ipsum.  </p>
      </div>
    </section>

